<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div style="background-color: black; padding: 3% 0 3% 0"><img src="assets/img/default.png"/></div>
    
    <ion-card-content>
      <ion-card-title>
        Saarang '19
        </ion-card-title>
      <p>
        Saarang, which started out as Mardi Gras in the early 1970’s, proudly stands today as the focal point of art and culture in Chennai. The 5 days of Saarang are more than a festival, it is a phenomenon beyond words. From bedazzling ProShows to frolicsome events, from overwhelmed freshers to world-renowned artistes, from battling it out in competitive events to losing oneself in the action packed Adrenaline Zone, Saarang has it all! While the crowd throngs the Spotlight lectures or simply marvels at the spectacular roadshows, excitement knows no bounds as one indulges in the plethora of fun that is Saarang! The festival that has reached a milestone in celebrating talent and catering to a wide variety of interests, is synonymous with everything that falls under the vast hood of culture.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
